/*GENERAL*/
* {
  margin: 0;
  padding: 0;
}

label {
  color: white;
}

header {
  z-index: 1;
}

main {
  padding-top: 300px;
}

li {
  list-style-type: none;
  color: white;
  padding: 20px;
}

.centrarTexto {
  justify-content: center;
  text-align: center;
}

.tituloPaginal {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px;
  padding-left: 70px;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

nav ul li {
  display: inline-block;
  padding: 30px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.p20 {
  padding: 20px;
}

.p40 {
  padding: 40px;
}

.p70 {
  padding: 70px;
}

.p200 {
  padding: 200px;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: white;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

h2 {
  color: white;
  font-size: 40px;
  font-weight: bolder;
}

h3 {
  color: white;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

.imgFluid {
  width: 100%;
  height: auto;
}

/*GENERAL MOBILE*/
@media (max-width: 768px) {
  header, main, footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  li {
    list-style-type: none;
    color: white;
  }
  .pt40 {
    padding-top: 40px;
  }
  .pb40 {
    padding-bottom: 40px;
  }
  h2 {
    color: white;
    font-size: 30px;
    font-weight: bolder;
  }
  .color {
    color: white;
  }
  .logo {
    width: auto;
    height: auto;
    border-radius: 100px;
  }
  main {
    padding-top: 200px;
  }
  footer {
    padding-top: 200px;
    padding-bottom: 50px;
  }
  .logoFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contactoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .rrssFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .centrarTexto {
    justify-content: center;
    text-align: center;
  }
  /*MAIN INDEX MOBILE*/
  .tituloPaginal {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 30px;
  }
  .saludoJuacTitu {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
  }
  .saludoJuac {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 30px;
    text-align: center;
  }
  .imgSaludo {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
  }
  .tituloNoticias {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
  }
  .settingNoticias {
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
  }
}
header {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: black;
  margin-top: 20px;
} /*DESKTOP*/
@media (max-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
footer {
  padding-top: 200px;
  padding-bottom: 50px;
}

.logoFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contactoFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rrssFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sizeRedesSocialesLogos {
  height: 50px;
  width: 50px;
}

/*MOBILE*/
/*DESKTOP*/
.saludoJuacTitu {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px;
  padding-left: 70px;
}

.saludoJuac {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px;
  text-align: center;
}

.imgSaludo {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px;
  padding-left: 345px;
}

.tituloNoticias {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 5px;
  padding: 20px;
  text-align: center;
}

.settingNoticias {
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 5px;
  padding: 20px;
  text-align: center;
}

.imgCarruSize {
  height: 400px;
  width: auto;
}

/*MOBILE*/
@media (max-width: 768px) {
  .saludoJuacTitu {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 5px;
    padding: 5px;
  }
  .saludoJuac {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 30px;
    text-align: center;
  }
  .imgSaludo {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 30px;
  }
  .tituloNoticias {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
  }
  .settingNoticias {
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
  }
  .imgCarruSize {
    height: auto;
    width: auto;
  }
}
.tituloIzquierdo {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 20px;
  padding-left: 70px;
}

.parrafoCentral {
  margin-bottom: 40px;
  padding: 30px;
  text-align: center;
  padding-left: 70px;
}

.tituloDer {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 30px;
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 20px;
}

.videoNos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 20px;
}

.videoNosSize {
  height: 500px;
  width: 600px;
}

/*MOBILE*/
@media (max-width: 768px) {
  .videoNosSize {
    width: auto;
    height: auto;
  }
}
.tituloIzquierdo {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 20px;
  padding-left: 70px;
}

.parrafoCentral {
  margin-bottom: 40px;
  padding: 30px;
  text-align: center;
  padding-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloDer {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 30px;
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 20px;
}

.imgIzq {
  padding-left: 70px;
}

.imgDer {
  padding-right: 70px;
}

/*MOBILE*/
@media (max-width: 768px) {
  .tituloIzquierdo {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 20px;
  }
  .parrafoCentral {
    margin-bottom: 40px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tituloDerecho {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 20px;
    align-items: center;
    text-align: center;
  }
}
.tituloCentral {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 20px;
}

.parrafoCentral {
  margin-bottom: 40px;
  padding: 30px;
  text-align: center;
}

.videoNos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 20px;
}

.videoNosSize {
  height: 500px;
  width: 600px;
}

/*MOBILE*/
@media (max-width: 768px) {
  .tituloCentral {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
  }
  .videoNosSize {
    width: auto;
    height: auto;
  }
}
.tituloIzquierdo {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 20px;
  padding-left: 70px;
}

.parrafoCentral {
  margin-bottom: 40px;
  padding: 30px;
  text-align: center;
  padding-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloDerecho {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 20px;
}

.textForm {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 20px;
  padding-left: 70px;
}

.teEsperamosText {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-right: 100px;
}

.tituloDnosPEncontrar {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 10px;
  padding-left: 70px;
}

.iFrameLoc {
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  padding-left: 70px;
}

.videoCon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 80px;
  padding: 20px;
  padding-bottom: 60px;
}

.videoConSize {
  height: 500px;
  width: 600px;
}

.locConSize {
  width: 350px;
  height: 350px;
}

.textContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 10px;
  padding-left: 40px;
}

/*MOBILE*/
@media (max-width: 768px) {
  .tituloIzquierdo {
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .parrafoCentral {
    margin-bottom: 40px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .textForm {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 20px;
  }
  .tituloDnosPEncontrar {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
  }
  .teEsperamosText {
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .iFrameLoc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 80px;
    padding: 20px;
    padding-bottom: 60px;
  }
  .tituloDerecho {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 20px;
    align-items: center;
    text-align: center;
  }
  .videoConSize {
    width: auto;
    height: auto;
  }
  .textContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .locConSize {
    width: auto;
    height: auto;
  }
  a {
    font-size: 17px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
nav {
  background-image: linear-gradient(to bottom, red, black);
}

footer {
  background-image: linear-gradient(to bottom, black, red);
}

/*.translate{
    transition:all 1s;
    &:hover{
        transform:translateX(20px);
        cursor: pointer;
    }
}*/
.scale {
  transition: all 1s;
}
.scale:hover {
  transform: scale(1.5, 1.5);
}

a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  transition: 1s all;
}

a:hover {
  color: white;
  font-size: 30px;
  background-color: red;
  padding: 8px;
  border-radius: 10px;
}

p {
  color: white;
  text-decoration: none;
  line-height: 30px;
  text-align: justify;
  font-size: 20px;
  transition: 1s all;
}

p:hover {
  color: white;
  line-height: 30px;
  background-color: rgb(13, 2, 68);
  border-radius: 10px;
  padding: 3px;
}

/*# sourceMappingURL=style.css.map */
