//ANIMACIONES
a {color: white;font-size: 25px;text-decoration: none;transition:1s all;}
a:hover{color:white;font-size:30px;background-color:red;padding:8px;border-radius:10px;}

p {color: white;text-decoration: none;line-height: 30px;text-align: justify;font-size:20px;transition: 1s all;}
p:hover{color: white;line-height:30px;background-color:rgb(13, 2, 68);border-radius:10px;padding:3px;}