/*DESKTOP*/
@media (max-width: 1024px) {
    footer{display: flex;flex-direction:row;justify-content:center;align-items:center;}
    }

    footer{ padding-top:200px;padding-bottom:50px;}
    .logoFooter{ display:flex;flex-direction:row;justify-content:center;align-items:center;}
    .contactoFooter{display:flex;flex-direction:column;justify-content:center;align-items:center;text-align: center;}
    .rrssFooter{display:flex;flex-direction:column;justify-content:center;align-items:center;}
    .sizeRedesSocialesLogos{height: 50px;width: 50px;}









/*MOBILE*/