.tituloIzquierdo{justify-content:center;align-items:center;margin-top:100px; margin-bottom:10px;padding:20px;padding-left:70px;}
    .parrafoCentral{ margin-bottom:40px;padding:30px;text-align: center;padding-left:90px;display:flex;flex-direction:column;justify-content:center;align-items:center;}
    .tituloDerecho{display:flex;flex-direction:row-reverse;padding-right:30px;margin-top:100px;margin-bottom:10px;padding:20px;}
     

    @media (max-width: 768px) {
        .tituloIzquierdo{justify-content:center;align-items:center;margin-top:100px; margin-bottom:10px;padding:20px;}
    .parrafoCentral{ margin-bottom:40px;padding:30px;text-align: center;display:flex;flex-direction:column;justify-content:center;align-items:center;}
    .tituloDerecho{justify-content:center;align-items:center;margin-top:100px; margin-bottom:10px;padding:20px;align-items:center;text-align: center;}

    }
    

  