/*DESKTOP*/

.saludoJuacTitu{justify-content:center;align-items:center;margin-top:40px; margin-bottom:40px;padding:30px;padding-left:70px;}
.saludoJuac{justify-content:center;align-items:center;margin-top:40px; margin-bottom:40px;padding:30px;text-align: center;}
.imgSaludo{justify-content:center;align-items:center;margin-top:40px; margin-bottom:40px;padding:30px;padding-left:345px;}
.tituloNoticias{justify-content:center;align-items:center;margin-top:10px;justify-content:center; margin-bottom:5px;padding:20px;text-align:center;}
.settingNoticias{margin-top:10px;justify-content:center; margin-bottom:5px;padding:20px;text-align: center;}
.imgCarruSize{height:400px;width:auto;}

/*MOBILE*/

@media (max-width: 768px) {
    .saludoJuacTitu{justify-content:center;align-items:center;margin-top:40px; margin-bottom:5px;padding:5px}
    .saludoJuac{justify-content:center;align-items:center;margin-top:20px; margin-bottom:40px;padding:30px;text-align: center;}
    .imgSaludo{justify-content:center;align-items:center;margin-top:30px; margin-bottom:40px;padding:30px;}
    .tituloNoticias{justify-content:center;align-items:center;margin-top:10px;justify-content:center; margin-bottom:5px;padding:20px;text-align:center;}
    .settingNoticias{margin-top:10px;justify-content:center; margin-bottom:5px;padding:20px;text-align: center;}
    .imgCarruSize{height:auto;width:auto;}
}

