.tituloIzquierdo{justify-content:center;align-items:center;margin-top:40px; margin-bottom:10px;padding:20px;padding-left:70px;}
    .parrafoCentral{ margin-bottom:40px;padding:30px;text-align: center;padding-left:70px;}
    .tituloDer{display:flex;flex-direction:row-reverse;padding-right:30px;margin-top:100px;margin-bottom:10px;padding:20px;} 
    .videoNos{display:flex;flex-direction:row;justify-content:center;align-items:center;margin-top:30px; margin-bottom:10px;padding:20px;}

    .videoNosSize{height:500px;width:600px}


    /*MOBILE*/
    
    @media (max-width: 768px) {
    .videoNosSize{width: auto;height:auto;}

    }


 